@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  list-style: none;
}
.wrapper {
  min-height: 100vh;
  background-color: var(--background);
  overflow-x: hidden;
}
.contentWrapper {
  background-color: var(--background);
  padding: 0 0.3125rem;
}
.content {
  margin: 0 0.625rem;
  background-color: var(--secondary-background);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  overflow: auto;
  height: calc(100vh - 4rem);

  scroll-behavior: smooth;
}
.content::-webkit-scrollbar {
  width: .5rem; 
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: .25rem;
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); 
  border-radius: .25rem;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--hover); 
}