@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  list-style: none;
}
.wrapper {
  min-height: 100vh;
  background-color: #000000;
  overflow-x: hidden;
}
.contentWrapper {
  background-color: #000000;
  padding: 0 5px;
}
.content {
  margin: 0 10px;
  background-color: #101010;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  height: calc(100vh - 64px);
}