.search {
  outline: none;
  border-radius: 1.25rem;
  width: 25rem;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .search {
    width: 15rem;
  }
}
@media (max-width: 768px) {
  .search {
    display: none;
  }
  .search.searchOpen {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  .search {
    width: 9rem;
  }
}
