:root {
  --background: #000000;
  --secondary-background: #101010;

  --icon-background: #1f1f1f;
  --text: #e0e0e0;
  --title: #ffffff;

  --border: #c0c0c0;

  --movie-card-bg: #1c1c1c;



  --hover: #e50914;
  --logo: #ffd700;
}
