.skeletonWrapper {
  max-width: 93.75rem;
  margin-top: 1.25rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.skeletonMainWrapper {
  display: flex;
  justify-content: center;
  
}
.carouselSkeleton {
    display: flex;
    gap: .625rem; 
}
