.filters {
  display: flex;
  gap: 1.25rem;
}
.select {
  width: 18.75rem;
}

@media (max-width: 750px) {
  .filters {
    flex-direction: column;
    gap: .3125rem;
  }
  .select {
    width: 100%;
  }
}
