.list {
  margin-top: 0.3125rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  justify-content: center;
}
.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link,
.active {
  color: var(--title);
  transition: all 0.2s ease-out;
  &:hover {
    color: var(--hover);
  }
  .linkWrapper {
    display: flex;
    gap: 0.625rem;
    margin-left: .625rem;
  }
  span,
  p {
    font-size: 1.125rem;
  }
}

.active {
  color: var(--hover);
}
.icon svg {
  font-size: 1.5625rem;
}
