.movie {
  font-size: 1rem;
  color: var(--title);
  font-weight: bold;
}
.movieInfo {
  font-size: .875rem;
  color: var(--border);
}
.actor {
  font-size: 1rem;
  color: var(--title);
  font-weight: bold;
}